---
import SectionContainer from "../components/SectionContainer.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="container mx-auto py-40">
    <div class="flex flex-col items-center">
      <h1 class="text-center text-4xl md:text-6xl font-bold">
        ¡AQUÍ ENCONTRARÁS TODOS NUESTROS EJERCICIOS!
      </h1>
    </div>
    <div class="flex justify-center">
      <img src="img/TECPT.png" class="size-40 md:size-auto max-w-md" alt="hola" />
    </div>
    <div class="flex flex-col items-center mt-8">
      <h1 class="text-center text-5xl font-bold">
        EJERCICIOS DEL CURSO: "CELULAR INTELIGENTE"
      </h1>
    </div>
    <div class="grid md:grid-cols-3 items-center mt-8">
      <div>
        <h3 class="text-3xl font-semibold">Funciones básicas de un celular:</h3>
        <h4>
          <a
            href="/Ejercicio/SmartPhone1"
            class="text-blue-500 hover:underline text-3xl">Ejercicio 1</a
          >
        </h4>
      </div>
      <div>
        <h3 class="text-3xl font-semibold">Cómo poner clave a mi celular</h3>
        <h4 class="text-gray-500 text-3xl">Pendiente</h4>
      </div>
      <div>
        <h3 class="text-3xl font-semibold">Trabajando en este curso</h3>
        <h4 class="text-gray-500 text-3xl">Pendiente</h4>
      </div>
    </div>

    <div class="flex flex-col items-center mt-8">
      <h1 class="text-center text-5xl font-bold">
        EJERCICIOS DEL CURSO: "COMPUTADORA DE ESCRITORIO"
      </h1>
    </div>
    <div class="grid md:grid-cols-3 items-center mt-8">
      <div>
        <h3 class="text-3xl font-semibold">Partes de una Computadora:</h3>
        <h4>
          <a
            href="/Ejercicio/Computadora"
            class="text-blue-500 text-3xl hover:underline">Ejercicio 1</a
          >
        </h4>
      </div>
      <div>
        <h3 class="text-3xl font-semibold">
          Encendido y Apagado de la Computadora:
        </h3>
        <h4>
          <h4 class="text-gray-500 text-3xl">Pendiente</h4>
      </div>
      <div>
        <h3 class="text-3xl font-semibold">Trabajando en este curso</h3>
        <h4 class="text-gray-500 text-3xl">Pendiente</h4>
      </div>
    </div>
  </div>
</Layout>
