---
import Card from "../components/Card.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Layout from "../layouts/Layout.astro";
const Cuestionarios = [
  {
    Nombre: "Celular Inteligente 1",
    Descripcion: "Primeros pasos sobre el uso de celular inteligente",
    Link: "Ejercicio/SmartPhone1",
    Tipo: "Ejercicio",
  },
  {
    Nombre: "Computadora",
    Descripcion: "Primeros pasos en el uso de una Computadora ",
    Link: "Ejercicio/Computadora",
    Tipo: "Ejercicio",
  },
];
---

<Layout>
  <h1
    class="dark:text-gray text-center text-9xl md:text-8xl font-bold pb-6 pt-44 md:px-28 lg:pb-10"
  >
    Ejercicios
  </h1>
  <SectionContainer class="pt-44 pb-10 md:px-44 justify-items-center"
    >{Cuestionarios.map((cuestionario) => <Card {...cuestionario} />)}
  </SectionContainer>
</Layout>
