---
import CarouselComputadora from "../components/CarouselComputadora";
import CarouselSmartPhone from "../components/CarouselSmartPhone";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1 class="text-center text-7xl italic  font-bold mb-6 pt-44">LECCIONES</h1>
  <h2 class="text-center text-5xl italic mb-6 py-10">Celular Inteligente</h2>
  <CarouselSmartPhone client:visible/>
  <h2 class="text-center text-5xl italic mb-6 py-10">Computadora</h2>
  <CarouselComputadora client:visible />
</Layout>
