---
import CarouselComputadora from "../components/CarouselComputadora";
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <h1 class="text-center text-6xl font-bold mb-6 pt-44">LECCIONES</h1 >

        <h2 class="text-center text-4xl mb-6 py-10">Computadora</h2>
    <CarouselComputadora client:visible/>
</Layout>