---
interface Props {
  src: string;
  ejercicio?: string;
  continuacion?: string;
  anterior?: string;
}

const { src, ejercicio, continuacion, anterior } = Astro.props;
---
<section class="w-full py-40 md:px-20 max-w-6xl mx-auto">
  <div class="flex justify-between mb-4">
    {anterior && (
      <a
        class={`bg-[#ffd27f] hover:bg-[#ebb147] focus:ring-4 focus:outline-none focus:ring-blue-300 md:font-medium rounded-lg md:text-3xl text-5xl px-1 md:px-4 text-center ${!continuacion ? 'mx-auto md:mx-0' : ''}`}
        href={anterior}
      >
        Anterior lección
      </a>
    )}
    {continuacion && (
      <a
        class={`bg-[#ffd27f] hover:bg-[#ebb147] focus:ring-4 focus:outline-none focus:ring-blue-300 md:font-medium rounded-lg md:text-3xl text-5xl px-1 md:px-4 text-center ${!anterior ? 'ml-auto' : ''}`}
        href={continuacion}
      >
        Siguiente lección
      </a>
    )}
  </div>
  {ejercicio && <h1 class="text-center font-semibold text-4xl mb-4 rounded-xl shadow-2xl bg-white/60">El botón para ir al ejercicio de este leccion se encuentra abajo del video.</h1>}
  <lite-youtube videoid={src}></lite-youtube>
  <br>
  {ejercicio && (
    <a
      class="bg-[#ffd27f] hover:bg-[#ebb147] focus:ring-4 focus:outline-none focus:ring-blue-300 md:font-medium rounded-lg md:text-3xl text-5xl px-1 md:px-4 text-center"
      href={ejercicio}
    >
      Ejercicio
    </a>
  )}
</section>
  
<script>
  import "@justinribeiro/lite-youtube"
</script>
