<nav class="fixed w-full z-10">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-4 py-4">
    <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
        <img src="/Tecnologia-para-todos.svg" alt="Logo de Tecnologia para todos" class="size-20">
    </a>
    <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
        <a type="button" href="./Lecciones" class="text-white bg-[#a9afe3] hover:bg-[#cea9e3] focus:ring-4 focus:outline-none focus:ring-blue-300 md:font-medium rounded-lg md:text-lg px-1 md:px-4 py-2 text-center">Lecciones<a/>
        <a type="button" href="./Ejercicios" class="text-white bg-[#a9afe3] hover:bg-[#cea9e3] focus:ring-4 focus:outline-none focus:ring-blue-300 md:font-medium rounded-lg md:text-lg px-1 md:px-4 py-2 text-center">Ejercicios<a/>
    </div>
    </div>
  </nav>
  