---
import Nav from "../components/Nav.astro";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/Tecnologia-para-todos.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Tecnologia para todos</title>
  </head>
  <body>
    <Nav client:visible/>
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #a9cce3;
  }
</style>
